<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        /* Ensure the font size matches the rest of your code */
        #next {
            font-size: 22px;
            /* Adjust as necessary */
            font-family: Arial, sans-serif;
            /* Ensure consistency with your original font family */
        }

        /* Other relevant CSS to keep font sizes consistent */
        select,
        input {
            font-size: 22px;
            /* Adjust as necessary */
            font-family: Arial, sans-serif;
            /* Ensure consistency with your original font family */
        }
    </style>
</head>

<body>
    <div id="container-questionnaire">
        <h1>Final stretch!</h1>

        <hr />
        <p style="font-size: 20px;">Note: Please answer ALL questions to receive payment for your participation.</p>

        <div class="instructions well">
            <form id="postquiz" action="debrief" method="post">
                
               <!-- beginning of a question -->
                    <div class="row question">
                        <div class="col-md-12">
                            <p>Did you see anything different in the last video?</p>
                            <!-- MCQ Options -->
                            <table class="options">
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input type="radio" id="option1" name="mcq-option" value="option1" class="form-check-input">
                                            <label for="option1" class="form-check-label">
                                                Yes:
                                                <img id="img-option1" alt="Option 1 Image" style="width: 480px; height: 360px;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input type="radio" id="option2" name="mcq-option" value="option2" class="form-check-input">
                                            <label for="option2" class="form-check-label">
                                                Yes:
                                                <img id="img-option2" alt="Option 2 Image" style="width: 480px; height: 360px;">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="form-check">
                                            <input type="radio" id="option3" name="mcq-option" value="option3" class="form-check-input">
                                            <label for="option3" class="form-check-label">
                                                No, I did not see anything different in the last video.
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- end of a question -->



                <!-- beginning of a question -->
                <div class="row question">
                    <div class="col-md-8">
                        Did you experience any technical issues with the LAST video, e.g., low quality, playback
                        issues
                        like video slowing unexpectedly or freezing?
                    </div>
                    <div class="col-md-4">
                        <select id="Q-issue" name="Q-issue">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                            <option value="default" SELECTED> </option>
                        </select>
                    </div>
                </div>
                <!-- end of a question -->

                <!-- beginning of a question -->
                <div class="row question">
                    <div class="col-md-8">
                        Before today, have you heard of or completed a similar study?
                    </div>
                    <div class="col-md-4">
                        <select id="Similar" name="Similar">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                            <option value="default" SELECTED> </option>
                        </select>
                    </div>
                </div>
                <!-- end of a question -->

                <!-- beginning of a question -->
                <div class="row question">
                    <div class="col-md-8">
                        On a scale of 1-10 (where 10 is the most engaged), please rate how <b>ENGAGED</b> were you with
                        the task:
                    </div>
                    <div class="col-md-4">
                        <select id="engagement-rating" name="engagement-rating">
                            <option value="10">10 - Very engaged</option>
                            <option value="9">9</option>
                            <option value="8">8</option>
                            <option value="7">7</option>
                            <option value="6">6</option>
                            <option value="5">5 - Moderately engaged</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1 - Task was not engaging, I quickly lost focus.</option>
                            <option value="default" SELECTED></option>
                        </select>
                    </div>
                </div>
                <!-- end of a question -->

                <!-- beginning of a question -->
                <div class="row question">
                    <div class="col-md-8">
                        On a scale of 1-10 (where 10 is the most difficult), please rate how <b>DIFFICULT</b> you found
                        the
                        task:
                    </div>
                    <div class="col-md-4">
                        <select id="difficulty" name="difficulty">
                            <option value="10">10 - Very difficult</option>
                            <option value="9">9</option>
                            <option value="8">8</option>
                            <option value="7">7</option>
                            <option value="6">6</option>
                            <option value="5">5 - Moderately difficult</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                            <option value="0">0 - Not difficult at all</option>
                            <option value="default" SELECTED> </option>
                        </select>
                    </div>
                </div>
                <!-- end of a question -->
            </form>
        </div>

        <hr />

        <div class="instructionsnav">
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-7">
                </div>
                <div class="col-xs-3">
                    <button type="button" id="next" value="next" style="display:block;"
                        class="btn btn-primary btn-lg continue">
                        Continue <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>


    </div>

    <!-- <script>
        // JavaScript to read condition from sessionStorage and display it
        document.addEventListener('DOMContentLoaded', function() {
            console.log('here!');
            // Retrieve the condition value from sessionStorage
            var condition = sessionStorage.getItem('condition');
            const folderNames = ["Horizontal", "Vertical","Curves", "Lines"];
            
            // Construct the image sources based on condition
            const imgSource1 = `${imgSourceBase}${folderNames[conditionIndex]}/target.png`;
            const imgSource2 = `${imgSourceBase}${folderNames[conditionIndex]}/nontarget.png`;


            // Set the src attributes of the img elements
            const imgElement1 = document.getElementById('img-option1');
            const imgElement2 = document.getElementById('img-option2');

            imgElement1.src = imgSource1;
            imgElement2.src = imgSource2;

            console.log('Image source for option 1:', imgSource1);
            console.log('Image source for option 2:', imgSource2);
        });      
    </script> -->
    
   
</body>

</html>